<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/crypttab</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>3698c87cc3af757f0302f6d7f034350b1b22a7f25b2f71944292d0fb3de67cd7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/fstab</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>8b488ee7c3052bf97bc4d5da2007421178b08a2eb4ebb8fc2e5b7728bed74069</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/group</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>38c9f4047ba597248ef199a77afbd36f873cfa4aeb70de90bac7f237faf2ecba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/host.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>f21f35e7d3083aeee19beb48478130d119b2572922a4889df98326d551540eda</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/hosts</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>305d8ae7e488e1463c336a071267e7fbff78639aebed84a4c3d3ad14538fb953</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/inputrc</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>d23eba72cd72037b1106b73c6e7c11a101bc7ba09cb25f9ee7157b792c528f09</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/issue</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>074b0a588b17a71ab81fa31323280e6aa7124a896e6d372f590bbfe6119ea4db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/nsswitch.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>e248e017d16d8ed9d0d222740827cf27a2d2985fec7502018f029a542640c976</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/passwd</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>7762b65442cd3e930d9b4ec470e01bc53938bc5ed3d7aedeed47977b78f54843</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>dbb3f879ba39c79324ff6589916b32256f4fe8539c3d34d1b378ee3cca22a887</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/securetty</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>7e47176cd83b91bdbc3a0b10ae5d5c093b81a9c8c0c1fb714f5438381124c760</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bash_logout</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>2584c4ba8b0d2a52d94023f420b7e356a1b1a3f2291ad5eba06683d58c48570d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bash_profile</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>437c9e8603ee8ba72730765c45b90871138410a4bffa83ae4029d6a4a5a2330d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.bashrc</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>22a4fb5d548da0d5cd13945c3bb32b8283b45fa59f675ae00e97d156c58c8017</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel/.inputrc</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>82f0b90d9dd7aa6ed897b04037fde02d102f5f7640cb09eceb070427a32df4d7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/subgid</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>b93d13b3e70f9fd27fe8078fef865243768a5e9e2b6dc355a76bdfde1220eb75</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/subuid</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>b93d13b3e70f9fd27fe8078fef865243768a5e9e2b6dc355a76bdfde1220eb75</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ld.so.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/skel</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut/dracut.conf.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib32</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>375a0e8f40078bffafc0248a08c91350dfe0185e5d0a44055acd3810a14d77ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS.256color</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>fda239457c57e0b6eee26112b13af60b0a5b22311531c6ec641c321b01b7e603</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/colors/DIR_COLORS.xterm</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>8f203351a7ada8486e5f89f75c78e5127bccda7bea2acbbea807c6ad91a485b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ld.so.conf.d/lib32.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>c27424154a6096ae32c0824b785e05de6acef33d9224fd6147d1936be9b4962b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/colorls.sh</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>8f24a31515706da5708868cfb21f41cb44b2bef8794b0a305ff5368e6847eca1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/locale.sh</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>1777ae909401fc54803742110baf6e98269e226938b5254b48c660b60a9bb80b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/mozplugin.sh</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>931eaa2e98c142f1301c3d3e010427b14c4f7ff7b89ff3debafda2ef36cba1b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lsb_release</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>48d9688a168b9839bc1ad5e51cfa1b2876be1d40293a62acc3da54e634c7390c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/vkpurge</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>4ab30e62ee298df809432e613c53906a7515acad5563c00d661aeb46c3641126</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/dracut/dracut.conf.d/00-void.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>e6da9e18c320ca1cd7a702afbace74b7cbdc07538cea486fbf96be6d37881867</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d/blacklist.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>f73b040ad2311f40b220e5581543c91c79e0a2701d920ad62c9b30ccaa4d966c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/modprobe.d/usb-load-ehci-first.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>90fb123aa8c0176bc144322b585bb889181c437542ddbe546af43e11b95be6ab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/sysctl.d/void.conf</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>6e2dab024020a124d22a278f1afa0db3c22098fc976b78cc176214f0e741e843</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/udev/rules.d/66-kvm.rules</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>c16a8dc7855880b2651f1a3ff488ecc54d4ac1036c71fffd5007021d8d18a7c5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/Apache-2.0</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/Artistic</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>b7fd9b73ea99602016a326e0b62e6646060d18febdd065ceca8bb482208c3d88</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/BSD</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>5d588eb3b157d52112afea935c88a7ff9efddc1e2d95a42c25d3b96ad9055008</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GFDL-1.2</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>56976e64523fa1e68db4e6f464f5b2cb89d7d08f54b1d012e317b8db286b3faf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GFDL-1.3</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>4748f03ed2dbcc14cde6ebc30799899c403e356a7465dc30fcf2b80c45fc0059</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-1</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>6c9f0dc14f36af0214ee8126b1e459cd0ff6008c299471ce8f3446eb47473c2e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-2</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>8177f97513213526df2cf6184d8ff986c675afb514d4e68a404010521b880643</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/GPL-3</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>8ceb4b9ee5adedde47b31e975c1d90c73ad27b6b165a1dcd80c7c545eb65b903</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-2</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>b7993225104d90ddd8024fd838faf300bea5e83d91203eab98e29512acebd69c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-2.1</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>dc626520dcd53a22f727af3ee42c770e56c97a64fe3adb063799d8ab032fe551</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/LGPL-3</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>da7eabb7bafdf7d3ae5e9f223aa5bdc1eece45ac569dc21b3b037520b4464768</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/MPL-1.1</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>53692a2ed6c6a2c6ec9b32dd0b820dfae91e0a1fcdf625ca9ed0bdf8705fcc4f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/OFL-1.1</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>ca122f3bda0154f692817450168cb650a7fc59ef96c93582acd2e7a744d464d3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/vkpurge.8</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>sha256</key>
			<string>eb8d622dcc8c5b0c3aaea8bb41dec63467eb8f096aab5bee4310f98da026c305</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/mtab</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>target</key>
			<string>/proc/self/mounts</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib32/locale</string>
			<key>mtime</key>
			<integer>1550640268</integer>
			<key>target</key>
			<string>../lib/locale</string>
		</dict>
	</array>
</dict>
</plist>
