<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzdiff</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>ca96220d7df823031c028dbb32183e6a8e9e05737eda10b97ec9c3e01724d6cf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzgrep</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>2855f1850e1281747d70d1409084ff156cd42eb07872ffadab610a59e90df869</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzip2</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>9c34adece3fdc66783077402a47558e5823d970d0292b1ccef5a5ec24dc9c8dc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzip2recover</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>54910ee2a97aad63608c8feb260d74af0b0ae62fb3e1976dbd6098fbb0145af2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzmore</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>836536d4c7469788c730355d59f8ae8d16ba07cb0754174878d99ed90f04448d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1.0.6</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>5df29f532703565b2eeafdf090c6049df369c2bc55e76d73553a8efe4c6ece8d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzip2.1</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>sha256</key>
			<string>ffbfa089a0576074cbc78957151587e2bb6a8f00ebadd56763db954dc7c1ebf9</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bunzip2</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/bin/bzip2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bzcat</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/bin/bzip2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/lib/libbz2.so.1.0.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libbz2.so.1.0</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/lib/libbz2.so.1.0.6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bunzip2.1</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzcat.1</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/bzip2recover.1</string>
			<key>mtime</key>
			<integer>1534143263</integer>
			<key>target</key>
			<string>/usr/share/man/man1/bzip2.1</string>
		</dict>
	</array>
</dict>
</plist>
