<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ca-certificates.conf</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d07aaca5c6bb487de8beb11cfc8d5d0813a3d7bd40add559cc3364107ea2bc69</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/update-ca-certificates</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a4283508b5775a67c7df65b28bbe9100817ffda97db3a789a5414742ac66335c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/ACCVRAIZ1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>04846f73d9d0421c60076fd02bad7f0a81a3f11a028d653b0de53290e41dcead</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AC_RAIZ_FNMT-RCM.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>aa18ea4c9a8441a461bb436a1c90beb994ac841980b8fd62c72de9a62ddf8ae3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AC_Raíz_Certicámara_S.A..crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>34d675bb55565512fe174e4484ac10ff7388934bf3aff7d13e5bdc1db0676a08</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Actalis_Authentication_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c6d25347727f267774611677588d76f8a54a6e14d3e99dd69ef2c20612ed87c5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AddTrust_External_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>4a4928ce5db4c7347a6d0b7b10677c6308390b624d82eeb0fe3f68d125121a4e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AddTrust_Low-Value_Services_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>2c5348ff63a55d3b1d9568e8ba6344ec845a19ad92a10fe4f8cede8a19013c1b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AffirmTrust_Commercial.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>7108110fdaf19e3e5a7ed8fa38557248e79fe78bb2e9eefe7a0bb801cbfd2db7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AffirmTrust_Networking.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b68109f50ba0abed3b938afebd2ab42a2f5089062c59e9fc74425e2742d894bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AffirmTrust_Premium.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>94c88202bf2c13c68b90d124f93f62374f36776b0bfbc110c6d06f829290b580</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/AffirmTrust_Premium_ECC.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>42f0e946149ae0e0c6a1fb0e33150ce863479b2ef7b3c700161102ad1dcb34c1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Amazon_Root_CA_1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>2c43952ee9e000ff2acc4e2ed0897c0a72ad5fa72c3d934e81741cbd54f05bd1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Amazon_Root_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a3a7fe25439d9a9b50f60af43684444d798a4c869305bf615881e5c84a44c1a2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Amazon_Root_CA_3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>3eb7c3258f4af9222033dc1bb3dd2c7cfa0982b98e39fb8e9dc095cfeb38126c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Amazon_Root_CA_4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b0b7961120481e33670315b2f843e643c42f693c7a1010eb9555e06ddc730214</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Atos_TrustedRoot_2011.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>79e9f88ab505186e36f440c88bc37e103e1a9369a0ebe382c4a04bd70b91c027</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Autoridad_de_Certificacion_Firmaprofesional_CIF_A62634068.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>283fd555713ed4ecfcb4935f5ed5d4a9bb776236803e2910eb46e70903a3511f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Baltimore_CyberTrust_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d1c290ea1e4544dec1934931fbfa1fb2060eb3a0f2239ba191f444ecbce35cbb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Buypass_Class_2_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9c2a7510e01aec2c9b8cc2c9d03b16576858a93863a6d0a31a2ac05f47f5dbe1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Buypass_Class_3_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>8db5b7c8f058c56a8d033c2443d34fdfd3656150eaa73fe63c65161e7063ce99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/CA_Disig_Root_R2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>8adefca890c92e6d0877fdcba07655296852217da657026aea69ee547642528c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/CFCA_EV_ROOT.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>94e4ab21333740d7ed0f2b5007744e5cf6792c0ddf4c6bdfb3ce8333010e7306</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/COMODO_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>e273097c7c57cb7cbb908057991ae1774d4e1e8c6a062fb6be9e6645b32fb431</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/COMODO_ECC_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d69f7b57250536f57ffba92cffe82a8bbcb16e03a9a2607ec967f362ce83f9ce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/COMODO_RSA_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>24b0d4292dacb02efc38542838e378bc35f040dcd21bebfddbc82dc7feb2876d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Camerfirma_Chambers_of_Commerce_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9627c12c992fc9411820c61cd2e3159c5c3d886b7cd9e51c2b0976295496f4d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Camerfirma_Global_Chambersign_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>3774cb76d0f92b986459b76b2bb86c9f34bfec5cc0ab7f678be0c0b6651b2775</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certigna.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d1e1969cdbc656bb4c568116fe2d9b4f8b02b170dc20193b86a26c046f4b35a7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certinomis_-_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>180fdd00918d50184c2157f2280945b3ec7fe9af641644c8c46c54ee7352839d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certplus_Class_2_Primary_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>6e9a2b82d0d8afb86d1ef76e371d77e20e470417a06dc382f3ae1c6eab1e692b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certplus_Root_CA_G1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>048ec332a9882e5180a7c1bf73f693dfcc78a381909e0b3f065406b0cf06f787</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certplus_Root_CA_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ce188188a499c8269b7a46905bdbb6568f203804f93361ee4ecd4a298d32e673</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certum_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cba061eef768b79cf995171941b3d61bbcfe8761924da52d76814897205f7d7d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certum_Trusted_Network_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>43f1bade6454349c258017cc99113f8b6a5712e3807e82ad9371348d52d60190</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Certum_Trusted_Network_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9dd4cbb6d2c29cbb3ca98da02c042a690c0ef4c0521d98aae37e0a704c4bf210</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Chambers_of_Commerce_Root_-_2008.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>6aca1b8f5c846a4c73e559e5325668bf0b52e45d889bf97ea11af945302f945f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Comodo_AAA_Services_root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a5ddabd1602ae1c66ce11ad078e734cc473dcb8e9f573037832d8536ae3de90b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Cybertrust_Global_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>67d7418965acecb4b6ba5622ebc6106716999a78010e77a786c2c6753ac6febf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/D-TRUST_Root_CA_3_2013.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>24cf27f7951fd887783f9a84a5362e2f1999c1a9066b65a717b4904f2afa5d93</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/D-TRUST_Root_Class_3_CA_2_2009.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a00b8aa918457f5e7e58457b5e2f80d640fa77cc290572aaab1ae7b4734a9528</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/D-TRUST_Root_Class_3_CA_2_EV_2009.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>f81ceeaf6341513ef391ab3ea3302e8b2fb2c1527752797bba9b20ca22048b3c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DST_Root_CA_X3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>139a5e4a4e0fa505378c72c5f700934ce8333f4e6b1b508886c4b0eb14f4be99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Deutsche_Telekom_Root_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ee4f76bb73607da41aac662038e25b2f514984836efa3317e2c50390408dcdce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Assured_ID_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b52fae9cd8dcf49285f0337cd815deca13fedd31f653bf07f61579451517e18c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Assured_ID_Root_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>660b5aa96668c5162f4af6b0a01241d8527aef8fa8a5307a7033b83c3de4a72d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Assured_ID_Root_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c4fa4cc30be6aee0a4c0dff81f28768eedd83e8d4934a42f82179cbfa61f13ad</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Global_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>39fdcf28aeffe08d03251fccaf645e3c5de19fa4ebbafc89b4ede2a422148bab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Global_Root_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>5d550643b6400d4341550a9b14aedd0b4fac33ae5deb7d8247b6b4f799c13306</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Global_Root_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1914cd2d4cde263315f9e32c7683fc0e1b921919ad12b256d49bf782011c03cc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_High_Assurance_EV_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d98f681c3a7dce812b90bf7c68046827f3bf5607357f1e4918c5dc813b359bf1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/DigiCert_Trusted_Root_G4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ce7d6b44f5d510391be98c8d76b18709400a30cd87659bfebe1c6f97ff5181ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/E-Tugra_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>789655e3b4c0721faa6a3ffc30853450794fecc5830a12b632261545c3a241bb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/EC-ACC.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>5ce6942c473edecadfca9d8a6349e1d885c0bc74d321c4986b4365ea90807737</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/EE_Certification_Centre_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d583c3821ee9d481e05842bd82fcb1ca7b09934fd03e863fe6fd005effe2cf70</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Entrust.net_Premium_2048_Secure_Server_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>24e0277c0c028497c6b0abbbf7163ec3ae7b341cadfb0b90bc00c4ad642172cc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Entrust_Root_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>745bd29be45667514b4000e9cdb70cdecad0f02c78232ed722f64f7f80436e35</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Entrust_Root_Certification_Authority_-_EC1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a0d7e56b32b767e076bd7d05ce1779dbe3656d0a02a9abe711fc79640b9f7fbe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Entrust_Root_Certification_Authority_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>646db48fa7794bcab4581f264ff3fad4cff7bbd24f5e8bb170d4f602b6caf828</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GDCA_TrustAUTH_R5_ROOT.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b0bf3a444f89d8be7db120bfecaa2f94d9e49ede21f680d674c1e8d839d8a9a2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Global_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cf48eaa6c6ca132d51f94363aed0fd1e96ca47f7211d5fcadd1d8e086e28f18c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Primary_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cc416d7ae060caccf42109926e47d30a42ad956cd3ffab9446f1fa713ab4a064</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Primary_Certification_Authority_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>7062da3420d108cbb483acdc4008eea66cfed19e4fc54871c32078fb28d218a5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Primary_Certification_Authority_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9600db5efa50f914d21385b0d28a99f72dd8dd063f4aba3f0d81c491f787aa82</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Universal_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>56646cbc348ddedc3db0f197ced3f6dd922bdcb3b6482e5fd23149dc6e3a4877</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GeoTrust_Universal_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>e8bd548299bf4c1101ecb33c2e92a01613b1c91b4fb8b802611d67a605b9e372</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_ECC_Root_CA_-_R4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c1c28a3d24cee38689fa2c8352cb81ce123175c738dcfb3610be959a6ae7f810</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_ECC_Root_CA_-_R5.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>80eeafa5039f282345129a81ace7e1c1e1d4fd826f1eb3391a4ea56f38a6e3d8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>df68841998b7fd098a9517fe971e97890be0fc93bbe1b2a1ef63ebdea3111c80</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_Root_CA_-_R2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>e80cb8eb9fc411c947de2785c4907ab80353d52cc6912b45a5ad1812c1110087</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_Root_CA_-_R3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>6bdc59f897631af7811e3201cbc58e5999de2600ae8667454a34514eecfd8381</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/GlobalSign_Root_CA_-_R6.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>5ff8425be71c1805446bf10601ce3cb9619889866766fc9285583ca5a4a7de94</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Global_Chambersign_Root_-_2008.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9dcde4634ac70130f2f5239b60239329b65952db304585e64df1f03f5be14636</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Go_Daddy_Class_2_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>47f15a52a984ab1f9cd92b6c1849c0465c1b3c9c6837d54e5d2c004fa01b69b7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Go_Daddy_Root_Certificate_Authority_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>500329abac100a953a7396b54b36be57d333022f17401bc948248ea179cf1784</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Hellenic_Academic_and_Research_Institutions_ECC_RootCA_2015.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1cdd90d42b48cced8f5ecbff087c49da56b224f0272e4b5074e63b82fff5fb16</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Hellenic_Academic_and_Research_Institutions_RootCA_2011.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9cdf8427a4f5489fcd1a877646f61366f81eedc82ff5065f4e4fd79b86d5e529</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Hellenic_Academic_and_Research_Institutions_RootCA_2015.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>677160e6297b48b87ede98ab7b4f2be55894491776f6191937ea397d01a6fb4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Hongkong_Post_Root_CA_1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9dd93324ad79de9a6d595611342d38ae6ca937772c65e11da3ebf88c5a248115</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/ISRG_Root_X1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>22b557a27055b33606b6559f37703928d3e4ad79f110b407d04986e1843543d1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/IdenTrust_Commercial_Root_CA_1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1d03b965511ce50d0a0bae1b549ed7048c783cfcba9aa40ea11d355b1889657c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/IdenTrust_Public_Sector_Root_CA_1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9b4282f5a402e19016c4874a52df3367eabccf05be851ad03039f777a602d30a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Izenpe.com.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1d37341b099afc610bf4feb387096577a0dc61bb8fd09444f1a199a1b1b117e3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/LuxTrust_Global_Root_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ebbb1e4f093ff34a1162ecb674cddd7377c8bea7d68f54586b4681e8fa85d8f0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Microsec_e-Szigno_Root_CA_2009.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>4f670affee7b14140a6d20937db6e991102d5f8bac1d2562ebf20a1afda94d73</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/NetLock_Arany_=Class_Gold=_Főtanúsítvány.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>40f60f2e2f83fb6c63ddefeba7939a7852b2d468183ea939cc4dcac8fe4cc87d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Network_Solutions_Certificate_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9add62538679bbb4889076ac49e02bea8849991d4b4d54673b84a042cb324ded</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OISTE_WISeKey_Global_Root_GA_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a1d9deac890170412f9c335b39e3dce218f496439857b08997bb10f60ad1e953</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OISTE_WISeKey_Global_Root_GB_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>2dc52d373089ff5173ac392a464746dd066aaa3b7d1b3494a473c96686666fce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OISTE_WISeKey_Global_Root_GC_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>17b98c4d832e8349ecb55f1f90e41dfc7bcd9410d1e925ccd06612cd3b9b9a54</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OpenTrust_Root_CA_G1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>47f7782af8ac50a9015b476ad510278729b61bf4a4678c16910eee7d7db976bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OpenTrust_Root_CA_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>94c33169d5673759bd5fa2bc3d88dca457783986fe7a53b603820e7460642117</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/OpenTrust_Root_CA_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>064237dc8d287454fa8d75952d051d7611685317a6bbd8de0beb8f52081c2ed8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>0c9a29897388d09e6b34a0f8f0cb2fb1284c0fa15277dbe6ead5d4cd3c5ce137</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA_1_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>4db45324410a01a7023b038e5da7d7274d3cfd392565c351cf3d297fd7664c73</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>8c4220477ed85355fa380466aa8f559106d8a39fc90d3e0c121749e19444064f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA_2_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>825c67f5583131425c4e33275cc8e5c9dfd02cd190c6d71e1d335621e82965a8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA_3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a2ae0b4ec9d2a4c4e150756a3defabd15bcaa75ee2b599e722b27c6a2998d00b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/QuoVadis_Root_CA_3_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>198cfe560c191a800cbe923ceca0a4e4f3d5a0d7ff9316b47998765fdc0897be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SSL.com_EV_Root_Certification_Authority_ECC.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>662d60a283f416d888ff18831009e2cba95c61377f648beeed91a3dea12ac286</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SSL.com_EV_Root_Certification_Authority_RSA_R2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a0681f1a11d5c02760bcb68b61b0d332f6c197e239c4b30dc47f91a79a73282b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SSL.com_Root_Certification_Authority_ECC.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b68d02ce35bd02123cf5fcd329bdd33640214715dae0442a97782a4471e9b292</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SSL.com_Root_Certification_Authority_RSA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>2e368debd3626ea9c5d94c582d80050a530b505aa77ba231eb13e4d208c36d67</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SZAFIR_ROOT_CA2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cbe8a1eec737c93d1c1cc54e31421f81bf358aa43fbc1ac763d80ce61a17fce0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SecureSign_RootCA11.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>20828fd7b9795221c10272f9f6ed29638f6dc2614465adab1b93f2bfc484c659</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SecureTrust_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a3e70af2c4b48562b61fe858d9d30f073f2cf2136f2af01ab5a966673e70af4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Secure_Global_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>7ee52fb3a5afacd55a7a2e00f057f7f64776ea0d536036f54c57694961e25179</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Security_Communication_RootCA2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>39ad3110b8f84821ca22cfbd995914f2149521d27ce576e743de6a00dc39d9db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Security_Communication_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>684f2f6ce0a18fcb038d08a495846fbc35b96d99875fef1b24384cf0944a68c3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Sonera_Class_2_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>210a6572ee783eeeb2395381c9fc292a49da0466890465357330a21f6922fcf7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Staat_der_Nederlanden_EV_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>248d36087ca39b0b9a85b63f588d03235b169f5878946e497a6a6e5d12fb0590</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Staat_der_Nederlanden_Root_CA_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>8c11bd4d1e152297481ba8906f9d636b678df6bbe8b7ea6a3b05b4ab8a020e45</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Staat_der_Nederlanden_Root_CA_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>f0715c610871ab0a5579f58cea2b9e1cf842552ed59b25f3f8ea70c6513943fb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Starfield_Class_2_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1ad8373ec50073168cb6862a0e119adf2c1065c896adf7eb9695779739b4bb2e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Starfield_Root_Certificate_Authority_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ca3760ba63bf0a2c5dd0dc7fe897838cc58f12a386b4ee53d2065229848e96a3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Starfield_Services_Root_Certificate_Authority_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>870f56d009d8aeb95b716b0e7b0020225d542c4b283b9ed896edf97428d6712e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SwissSign_Gold_CA_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>0ebb1a5d93b86ad9dcbd294413f272817fe3bb8ba46f4ec8192b3b805f2fa8ae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SwissSign_Platinum_CA_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1f8ec9937bc728aded4043d105fa135f399d2718cfb137330cd8d5c1be504c97</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/SwissSign_Silver_CA_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9b3cbeb7d75271e0b62d40d60f8b18a35384ac6b171209231732fc778cfd2b5f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Swisscom_Root_CA_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>45d7c834c303a014a4468ad32a8bd282ec3c065149fe06ddf312f0a2a0d54457</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Symantec_Class_1_Public_Primary_Certification_Authority_-_G4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c458735d5e75fab29e03de87d611743cc33db3f03dfc353deacaa6d97d9f6698</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Symantec_Class_1_Public_Primary_Certification_Authority_-_G6.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>9b19f8496ec30b64818bc3fd1609addc349dda2a799599e26e72bceb48b9fd28</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Symantec_Class_2_Public_Primary_Certification_Authority_-_G4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>afbfbede58ccceb9396cb092b6aeaa735e1c7ea87e64c7d7b7b0d7d1828c8fd8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Symantec_Class_2_Public_Primary_Certification_Authority_-_G6.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>2ac7f87a18441950816c439e3fe992566c987681258bce5825e91befbb2e81e3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/T-TeleSec_GlobalRoot_Class_2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b30989fd9e45c74bf417df74d1da639d1f04d4fd0900be813a2d6a031a56c845</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/T-TeleSec_GlobalRoot_Class_3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>1cb130a113f4e8502517a679808a98bf076d59bdb223bfc61cd224b8e1abda49</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TUBITAK_Kamu_SM_SSL_Kok_Sertifikasi_-_Surum_1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c6904218e180fbfb0ed91d81e892c2dd983c4a3404617cb36aeb3a434c3b9df0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TWCA_Global_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>5dadc31b57074a3168d1df23bb8b6b920acae1d426bf2288fc2de53cdd571089</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TWCA_Root_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b69a59344e58615a691fa9567d55ad6337f09b57647a389242cbf43716575559</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Taiwan_GRCA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>3f5c96d28df10a1ce0e80c28d4800ede7417a8817c8aa6c45162e39db35593af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TeliaSonera_Root_CA_v1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>303c346ece82ca4f6713ac176164285d0469f326b6f12a787e11f5d702529277</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TrustCor_ECA-1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>0080981e6ff76e4f00a6fdf9e4e6cb98a9221eb334f4d43a07e194d23f648f47</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TrustCor_RootCert_CA-1.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>e227db3bb37e1158f9c5d9838d0ec74109d9816b60d69b3ca85def4b293d02dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/TrustCor_RootCert_CA-2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>b4dc2f45b7ba821ff240be0d0c816a996cafae929b8f445b0510d9073e1aad5e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Trustis_FPS_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cc3eeb75c29ab1a67271a76a45cb39acef1eeeaa3770fb086b7c27ff884a4d62</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/USERTrust_ECC_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>08fb40ba4144166f6ae80c7ab60be23e97e5083836d45fa85a33a5d0bfec10f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/USERTrust_RSA_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>8a3dbcb92ab1c6277647fe2ab8536b5c982abbfdb1f1df5728e01b906aba953a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/UTN_USERFirst_Email_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>a59558c0e9c89b58b7219806c3d3eb46cde495ab129b86f2c4c1e999ade1061b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/VeriSign_Class_3_Public_Primary_Certification_Authority_-_G4.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>73113132861b38f7e19abd705c34c5f595d76fa5db7e3b40d438ad37ae7ad19d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/VeriSign_Class_3_Public_Primary_Certification_Authority_-_G5.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>4aa40b3c3b032ca0e71685aa84194a9790ff89e5460fadaffe15b2287e8f19a5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/VeriSign_Universal_Root_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>ffd25b0938aa87c23728bf20a2d4e996c8bfd9d0a33b7bb99c8999797ba60fd0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Verisign_Class_1_Public_Primary_Certification_Authority_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>4e6feaffbb3e95e8f0707a85461025718d6c53f39733fdac0a254c62505e24b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Verisign_Class_2_Public_Primary_Certification_Authority_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>96990f599b41388b3997a8afdae15abdd6e4174e306a5a5c43e4d3aa06aca1fb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/Verisign_Class_3_Public_Primary_Certification_Authority_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>287333c9014a9fa3111e439c4426b204bd8415c116b8ae47524506611bb568fb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/XRamp_Global_CA_Root.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>fbe0f62dde93af96d1b8e27b19b2ee200a834880eca805585b66d18d2ea08192</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/certSIGN_ROOT_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>cf339eae15268aff66148f3bcdf112a7700eafded3edcb3f86c60133b10e03f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/ePKI_Root_Certification_Authority.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>d22b235421616835f68d15801d82b44e7c463433f8bbdcc92f9c023fafcb2bf2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/thawte_Primary_Root_CA.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>fdd466b6d0e7013a55bc8d83009137bc32be09099235aa6d6747cc7be4f6b031</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/thawte_Primary_Root_CA_-_G2.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>c697b5dada6398dde75e37a1916a6763fe95ca928ee4dc44efbc920347604978</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/ca-certificates/mozilla/thawte_Primary_Root_CA_-_G3.crt</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>5a98417cd28108d5b3d756ea4fd8de0175681401833c2ae27335a3f4ff4a950e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/update-ca-certificates.8</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>sha256</key>
			<string>3f83aafbee7fd1f68fb9f901caf2f4e732f6b8e4ddcecb9964aadce6a2d3c727</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ssl/certs.pem</string>
			<key>mtime</key>
			<integer>1548678258</integer>
			<key>target</key>
			<string>/etc/ssl/certs/ca-certificates.crt</string>
		</dict>
	</array>
</dict>
</plist>
