<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ccache</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>sha256</key>
			<string>50347873edcdf313cf13b37660cd1dddbde0e80e00b29892a2b677e2a47559c8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/ccache.1</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>sha256</key>
			<string>71db9fee9744ee86e3ceec6e15dfa21c3125906f5b11546f32c6f66be4010830</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-gnu-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-gnu-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-gnu-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-gnu-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/aarch64-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabi-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabi-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabi-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabi-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabihf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabihf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabihf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-gnueabihf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-musleabihf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-musleabihf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-musleabihf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/arm-linux-musleabihf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-gnueabihf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-gnueabihf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-gnueabihf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-gnueabihf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-musleabihf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-musleabihf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-musleabihf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/armv7l-linux-musleabihf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-pc-linux-gnu-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-pc-linux-gnu-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-pc-linux-gnu-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/i686-pc-linux-gnu-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-muslhf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-muslhf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-muslhf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mips-linux-muslhf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-muslhf-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-muslhf-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-muslhf-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/mipsel-linux-muslhf-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-gnu-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-gnu-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-gnu-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-gnu-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-musl-c++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-musl-cc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-musl-g++</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ccache/bin/powerpc64le-linux-musl-gcc</string>
			<key>mtime</key>
			<integer>1547527455</integer>
			<key>target</key>
			<string>/usr/bin/ccache</string>
		</dict>
	</array>
</dict>
</plist>
