<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/util-linux</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/util-linux/getopt</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/agetty</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>170fdb408daa0f2dca8552cb80d19e53f81500d0a5af8ef1d3fa6c2b68e9b170</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/blkdiscard</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>4916b93ac712785e79e7f21bd3e37d879c62c9a1b2bfbf826634821025a5693b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/blockdev</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>abb4187a873ae4bd99361db143ba00b57275f6c7c5b65055d47400550c9f710c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/cal</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>8ed01f3976c3705ce5f67df0e5fc0c222634284a07ab32f969a3c216fffa2474</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chcpu</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>56997d1f78a5ea0de53839169a0e92744719af3ae5fdc1d16f8b19e3d0644de7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chfn</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>32c52e2d4498b2413b3f72a0c6598949499db8f0931f5a40e52b7a51fff74099</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chmem</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>fae4b11c81c10a39fb1e050dd9aa5e464773ab66314354db331963509b077ce2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chrt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>dfe574a133a35f8a5baf69ee268f913611353d7ec7d16b3bcb414b87a87d4efa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/chsh</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c6034e67862a9ba37fa8a0f7f6ba4af193e06721fd8f465339ba26adfe2b7e22</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/col</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>ed70b0c7659f303c1cb88220608879a90703a5ab3d8520aa46b90ec66fd2e48b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/colcrt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>0c66df7b44b8ce2a4aacee270488666105708e60c45fd9afb4ea404ddcf88332</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/colrm</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>f754e291c766a78823b65a8d5b3e8fa16c7ecba405bff11c7dd5f33b2f4d6ca3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ctrlaltdel</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>bf43fef02dc9a06e145e5400d9c2103fac68c09b930f7fc696d2eeff5d21eecf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/dmesg</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>2f0fbaccdf04a68dd521347c3850e5ef41743cc0d60894df032d129051532952</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/flock</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>9c5b6b0d6eb6aa540008834c9c634b2412cffbe519a5ae6f6f693170fdd39672</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.cramfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>71d1bea271e7603fed86d8d0344a94c185a5dfd9446766f3bcef51ba356236e8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsck.minix</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>ce51b8e11902a4cbfc7086eca4adb3ad86e555d4bd5006e07db590ae7923a2a6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/fsfreeze</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>38316f774ae6071d011c9ccefd8a0e458edeae299e1e5e17f9746d2d249838da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/getopt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>deb6ff9143d0656c75cd313d89c03f842d647e6af4ef8d9016102690e0679190</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/hexdump</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>7c4c439feb4eee88352e3fb01d0c29a83698a2a0c19a61588dc7e6b44c19e2bc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/hwclock</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6a3348d387b78288b6dd0e4663107e4b852747ddb6c167fe29eeada65122f3e8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ionice</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>354002d66a84740e2aff780cd82742f5e726ded26c4aa87aad8aec976c78cffe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ipcmk</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6916fcb6d49375411ee6a640e4f4025cafc8e65c663924a3517b9478db8fa79f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ipcrm</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>2783d7e422fe9da29977c4c0cfb9d1e14f830b3e45f4f4cae57f380c35afede3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ipcs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>5c570dcb10290d9b86eeb025e192f5a6a4bdf1e425d012a5763be4c38a503840</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/isosize</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>44af32389f25569869b5c45d206c8498ef873f80076eea723924fb877dfe22c0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/kill</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>988d7d25024c3a65230c0a34c98557192d9f48b52632d127d3bf39e57fae229d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/last</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6396449026f8f9db88a03e4695cbb81276b9323e0b5ed97571faa88fd9085994</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/logger</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>889fda6c08dd5df55620d77714f96507072f18263366a8d4cf6b2b8868cc92be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/look</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>901ca39ab5a8e59a3497f5185956ab5cdc6171b8585442c7e0263fb17b4a0bfe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mcookie</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>03c7070dbbd2584322d22e920121ab0be2942b72259e2e8f90352bc6a4968cbd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mesg</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>014c5d9b72c91381f64ea02bb49df2b982d2519ea0a444c8d20c3663c6b834fc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6f696e6bbf6ec521778f3e9185edb94fe84fc21320c3ede5e1fe2a7f3e39505a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.bfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>9b589b51712a2d330dd50ea8a20e42535e55695c975fae5ce73ae2a51d599c31</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.cramfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>d7181cb0f110b98773f2cbb3d93735fb9efe8c041d43230349a347140db31703</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkfs.minix</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>07179b1af5bc1d7462476cd0df7764bba1e6e5d4db7df6e678714d6c720e5bbc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/mkswap</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c8a596fb5c671d01cd45b5fb50495c07d7f84ff43c81ed470bfc179623f63078</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/namei</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>71b8986c3f970a1b2c3650cc90d00b455545fe2b0f3aa284bdfd6009a8384a0d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nologin</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>d635cf7ddab8024364c6160821a773cbc9f51b0cf1f677169cae558e5b8a006c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/nsenter</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>d00f1fccb11fd265fb0b2c931edcd8e2f6e3f1b66b5f25e8fa422c2a945fadf5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pivot_root</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>be605afd156139628dde4054696d77724d0c4ba696a3c2be03ee35fb835abcd8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/raw</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c604cd397d16cca9bf21b51070889c901e2666f8c2b716a42c33ab65d5311d8e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rename</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>1e094169e37134ae9a45a726be23d7f4987b70dc55816853e023032b9a6263cd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/renice</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>f6ef381b4fe85b203d44c81898a312916a35a0d36d155051e4fb25ca8c41ef74</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/rev</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>521bf33883e7c87db5e63b73c714fec4f503af0f80a681c9bc62103e5e8b5752</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/script</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>79669856596178efea02d1ad1160bf77c1be07acacb3195fb7a2380ef910ff27</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/scriptreplay</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>1ebb5361cdc76a8ec9babbfbecbd35952f0b28a6bfe956b51c346938576ae803</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/setarch</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>2a2c015523e50e4144238d66aa1889200d83989b68ac76614db1b298cd3a9aa5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/setsid</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>ce0e9f0402061d19a72f3ab30caede8e19b4edeceb2efd1611626233e871f15e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/switch_root</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>29d3a47c301320c348dc8e7d517dd711c59fc53471bc2a7adbaec05ee3b473ed</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/taskset</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6573bc82626a24a828b9c08ed7592fe5718f1c1de3c5c8029a7581c623391b2c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/utmpdump</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c4117c08ccf53393078bf1f461cc62a17a2626776c9a0e17c7d68bb63d244e17</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/whereis</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>1ecfeed0341c9bab5cefa3d31bf9d57c27e364b91c74118098a8e231339f902f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/blkdiscard</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>52ae5cec0990942b3e239d9bae331ea237d6dd457575746e382d07fbabf9ad70</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/blockdev</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>0e33e84094c213cca2fc2e3ea06efc4a655ef4bb27ae4126943c574b98709767</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/cal</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>ba7d43682f8dd8eee55591d451aa0b4380e1cd01eb887a91528dbbb9187ed14d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/chcpu</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>a33736eafd741e7929ab8c13d1484f19a0874fb5a220dac8c6e4e7d3b2dc6458</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/chfn</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>7bc1496142b7a106545e4dc3a467d5f35114e8f6817c33544ec65bbbe139539b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/chmem</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6bb1f0dbb7af9f2891badb28f90e7ab9b82647a4b982a284b541968f669f2a9f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/chrt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>1dd13080d71c8d880e628eee89e8f493c979441692ef364e01ca8c8a761d381e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/chsh</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>fdddd65a36173cb3044ab4303d232543cffdb351e95072da2ace033d9885ec6b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/col</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>4d3265f8264768dde09b2962b2b19f1dd23b5283430b64b762d24515dee93cc8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/colcrt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>cfaecdd8f38c8fd02a9a6fe9685dde62da40bafd69412d0da67cfa86af3443e6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/colrm</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>0189319a7ac414b0777557a29e5c6ddd32ec3a4db494eea31c193bdf80add723</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ctrlaltdel</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>52021091a5554e9b6275cdabbf1820ccd18eff38d8b0094284ef7fb68c38f66f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/dmesg</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>5cd7dd59ef1558c7d5bf8fe58581eb6b173f823b21f1e83598328de2d7695060</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/fdformat</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>d1478a7f29aa6e2ac647acb10a2b1036bf2e2cb98e9627abb43fb1bf6ac561ec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/flock</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>4ea2ecf934319c37348fddefdf0f028614ce04cc1840574242bf47219cb0a8c8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/fsck.cramfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>74f9052c2e8991509621e742d39b65beb9489deef2b2b1f7a443f05acf11db46</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/fsck.minix</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c80e2696bcb4fb7642418d3aec96f7c2931cdcfdaf245786ee3b6cded99e22fe</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/fsfreeze</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>7f99f914f660697f78e57850e4e70c027e73a0aa5074a28bd3a5d25c2564b371</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/getopt</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>0ae50ed789c556f2abdabe09362169d385f9facf1bd05c13cf57b3f8e0078a5d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/hexdump</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>4bcab470cac90909b105e525171e7bc0ad8fc60b0d98503f4d46dfad8060cf9e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/hwclock</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>3f29aca0683c4b66ee099eb32cbbe0763965ba0de7b5e1d67efbf23db7f93fdd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ionice</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>8a92b4a98b89f6c3af9baf94aab2cc24f58e0e2c4ffc6e2ea822cdc093d940ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ipcmk</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>701db74a1133159cf159c9a182a46eb77ecdab618c52e373f432b3924d8e2707</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ipcrm</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>454731bfb20b7be1e41f5b0704536a549ebf7ee755d64bd9ef882b04ae84173d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ipcs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c8d2fc0706082e013fdec16a7b7fcc3aadbc0c3e22f87d8a818d9aa95f364acf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/isosize</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>0afdd61db90044908eef15ef623eb9e6f4598cdfe581f20b1b812650d961f567</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/last</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>406ba6772a881f22d10cad9096093673513c8426e81594c44977e1a57e7c4724</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/ldattach</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>f2a5396940e79dbdeea768970b2960d067e8a2fb78e9379a1b1b0fa250906595</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/logger</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>20a52821ce9e70f58e72f9050e3037aba96986aa39403a7b36bf5fac3de1b2c5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/look</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>9266652a2153e29fc80a3716fb3efbddff33a33590eaa20773d0b694e3daf554</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mcookie</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c1460f2f78f58e0195f4dc3af4a5e92925aa23f3f6ec5c73a7565329a7eb8b3b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mesg</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>67d09288e327f405fa72009d7e85b81a70d20c5577ffb8b418b6b0de043e7fc1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mkfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>b90a36595a7585f33e27d5028c66fecb8db2f01832240b70527aa93f9d93c486</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mkfs.bfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>fd5315672633d2cc96166fedd130416e7ec9c37a87f8afe57dc906059a4fac04</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mkfs.cramfs</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>a33449ad64a9c1e51ad0b82fc6afbb07febd5650842fea214231f399d7f3bf4d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mkfs.minix</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>aa873021ae3d172211a649626f466efd53423970ba15d29d6f5ce4fc5d78fcc9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/mkswap</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>e1cf77f54f0bd20cc47638b163a4b4adab20f4901ff4ef296cd2a9e3ebbb6577</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/namei</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>1519a1b96f840f476647daa9d041a7d5db2dde0d80d3c99e973b1eccff8b259d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/nsenter</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>c60762eff4f9768cda50c4e719c869ad6f2d9396f48c3bd4cb6c5bb90e847a3b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/pivot_root</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>e3fd2fed08fe53b1bdf0b344633375273ce54bdb75c65a4383f2bf29aa9868dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/raw</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>f546700af22030dffeefaa6b13e9ebb7c24538adb0941dcb98a9d68a6426640f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/readprofile</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>874cf09268bc51c0dd77267ef8e3d9948ff9c8c376a1b9ce911ca135b7baf9a5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/rename</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>d540f591b0a59ce27b14cb151f6b110a3dbba6c006052c0501a69fc9140e0938</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/renice</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>6fdf113c8a43356f2bddaff1613e3f66679f5f0b64d061a30e474f146163569b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/rev</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>ffab4735212694543267952b527e72f3ee4ac9b0e07d49b432db219bd26a3aae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/rtcwake</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>00d17c7f0f1d58372d1687ddc0004c0758818bc845de2caf1ec65435297b8a9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/script</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>4939f89fc4e6fb5577b1803562c103d8ee43648f1f87a938c6c79a67e5850492</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/scriptreplay</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>58d1c51c587e26dec022c31a4beaac423f4157b858a35a28dd6d3b4575f1111f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/setarch</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>bccea2e0e6fd329c9614c4c04f09093de21ba76595ef093bd70027df28bda533</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/setsid</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>376e5ac5d2a289c03bf36a8f9a86ae160cffc6693112043bf33d2d4f99614c30</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/taskset</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>f1b19ebab71cfd5b7b3082a3ecc59a319f8b14fd90eaf5ce9576a965d89f2907</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/utmpdump</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>69a8a5a630ce32790499b7690d033c7d73c40c861a5985ca23c4f1585fd69b48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/whereis</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>2a040afc44337e73ffcb2b910180aacf09566b784f887e82255a09cc42689d50</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/util-linux/getopt/getopt-parse.bash</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>60785e2b92bf2fe9de094db49e063d96f1f457f373d4e218a9c2f3490290ca38</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/doc/util-linux/getopt/getopt-parse.tcsh</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>sha256</key>
			<string>777dad882a31faf7a8ee995836fd75cca7c81cde7bee356de8d60a3b5b51781b</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/i386</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/setarch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/lastb</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/last</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/linux32</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/setarch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/linux64</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/setarch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uname26</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/setarch</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/x86_64</string>
			<key>mtime</key>
			<integer>1537581496</integer>
			<key>target</key>
			<string>/usr/bin/setarch</string>
		</dict>
	</array>
</dict>
</plist>
