<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/bash</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>00efe2d12af12944c211faad8f519136231cba79054a6c57754ee583d9bd5f80</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/bashbug</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4688a739d67994d0ecc0baff09b8b68f7b145a0b3f52d5c49de1a07da0987cda</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/alias.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b1179d349cb69578b7d94a6c737834dfd008a55c8464ae861e653cda022828f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/array.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b741d39b3b770af5956694b461a4dd39ff4165f034412f006b41aa41a46e6301</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/arrayfunc.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>9621a17b37838909a3ea91d50e2d1a1931dc8ade4979c60f479d5f38571c6ae6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/assoc.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4b4d5a68a6d9634567342fc21e6180733eb31bc1945b1aaab27cd15cefa4b6ac</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/bashansi.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>0ca2d0b8e09acd3ed687fdbca44cce022d60d31fbf0f3d0b3376b4d9022e6732</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/bashintl.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>3cb31529865eb8ccf63215d3aaf44684bee30bf698f6b1d0e7b9f93ee7b43331</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/bashjmp.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>28b8b8d480738ee758041b87422822bc922840b5a8b2413b60efd631b23716b6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/bashtypes.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>0c569938bb8b17ef9937b65ff7ca75f3f9b1494fe7761dc6bfef9be33e755f8c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins/bashgetopt.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>2d7df68b22a5cab85fd2ebfe4019591e60bf1c8209b3e9ea6bf8e08749b4796c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins/builtext.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>49713b76ba5a5c02f2530962d1ba0d61f1b5aa37333fc534719c7029f8064d59</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins/common.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>ceab0b6cd792755ccd18e25a40122d942d237905c259c770e91b263eac05f464</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins/getopt.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>f331091d2e57edec94a653c31dc8cc58a0a304525594d4eb2866e4daaf89e7f8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/builtins.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>006b87e707b53da244141cff98d9fb660241a516118141ffcef641155610d800</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/command.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>10dc290a4fe4d582b87bfab755d5e78e2a13b27a0ce9e8ff0bf75c6d494946ba</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/config-bot.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>8774c8edb60b7be5e942e20d17cae72ea9802bfcbf0b17f55d70fb9f72c81c8f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/config-top.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>04524af329478add50a42931a3905fb1390c43fe7e21a9b3a78103a9029d3c0d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/config.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>7726f4d84542b5a9458e1507428a0bbd56d4867ff86cffe63d1cf83927c39236</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/conftypes.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>f92b0b3533b7a56190d5c31403a675ccb17d89cfd7710dca3966fc08c4ef7dac</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/dispose_cmd.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>e662c2d7aedef2f8b5523a8bb6217a22a159adad3c1ab77360cd3f3abd714a4d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/error.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>c9a9615da6a18207261042fc04ee69b1bbc6324ccab7ce0ae6bc021484d7f492</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/externs.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>3542a87edd35c46e171c4309d5e89dbb11edc125b7df360cc31e55b0058d9a29</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/general.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b9434ac5842ea74cd28ec39d7e943ee83408d2bc78bdc3539466447c0491e469</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/hashlib.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>aa9cfaad29fd2682fa714594b06637cd630aef9e0ef78debb3d74f28c6ae77b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/ansi_stdlib.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>208cc17754ebacc079ebd009068e96e8c97590172a268b4da1a32b92faf3224f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/chartypes.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>0ae61fe9133edb029a83509b7eab52428e04fd0036420ac0f8a6856889b4ca08</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/filecntl.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>0fec9b4d255ba190b5d213ea7dc8e6e4084238fc99b9da7e720c4de3e63291b4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/gettext.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>160d0772d2e531163b919cada8ec1fb50ba58507c59117f18c91e557b9949c05</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/maxpath.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>d4ad4091127abfb0b931fe07b1c3e33fb1092223094100f7e8a55ceaf82af24a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/memalloc.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>ef4093756ece33142662c82ce120f4551e837f80c01cd78f567a6ba84746e59f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/ocache.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b0498b925e761855b5d18ae976453b3eb03b94232ec034ab923e6ed3868d09d4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/posixdir.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>aba974fcebeef9b381353f507175a398a59660edb24da9c8d1ff965154c55209</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/posixjmp.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4a79e5d83b9e87153cd057d76a5b2614922c04a5b58a9f5ae9ed23634dc70261</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/posixstat.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>df642f3db5c377b3bc087a0e390eefed5c4cca8d9e9cc9749a6247620578107d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/posixtime.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>1a1f715e3a2a18f614e9b516bb59aff8bfa8fdee12235f31d899f9cc32e422fc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/posixwait.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b4849889b4f30bdbc8940c03a46732e226deae1a46d95d01465b9ac1d2ecf58d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/shmbchar.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>d2002aad71c01d170476ffeaa7fe693a34d7fef72cac0fe4e946344daff67ab0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/shmbutil.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>26b30e050d0c0c2e792b61409a84c09f6b1d74b31a4d1c2459a3578633af9eca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/shtty.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>3c81957f2312a21e06b1869dd72c5773e03764a2d9a7dd94fbf755cdb4dc89ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/stat-time.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b6b3bb0f986a7c542048d1a81c9b3ca383d9c6be361f9079d1e558164b1882a1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/stdc.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>703fd3c6441e868f282bec43da8f1d2211fd9a391d055036462b244d55f921e7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/systimes.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>da1d929c5a0021f8035dcbd6cd7e43d913485813463cd9a1a7e57a438a99b65f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/typemax.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>51d62f12c314751399eda00fc60d082ae0ed835880aef966db43e0f0128bf490</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/include/unionwait.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>5a5c8024ce1a640bc3b9db746cd0d3e48e207f43c13cfd21dfb6a00c841e4d88</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/jobs.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>2611b4769d68459e8e6d5d1ae29d4a57eb2bf55e4d5d693ec067e5d1abd9a719</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/make_cmd.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>af7be1d889c037fdb11b62622902a6696da4d884eddb7526330c5170a0e3110b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/pathnames.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>acb2b5a8892ccbf6dc44cd3bbe933b7d3def4313366bc2fe5bdc86709f5bd60d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/quit.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>063268491c86fee8a9840d59fce5155a469a6823475033ef4eb4997e13b9cdd7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/shell.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>c4c51476494df0d50841e9a0a2ea940b00f57eac8e83bd3f387da7f6c0d67b4e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/sig.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>125425c8233c67cad7fcadb43c3df8871ad2a3968ee7db1a7d6b3ef9a5f26d2e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/siglist.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>ebf3a7a2cbccaecba20a9d69cd71fb3e13b7f14261562e38e1a4a1e0c02c15da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/signames.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>bd876d675b43cc9702ce157cccea6e1fe0e0c75cc3ae8202a80a67dc2f573cf5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/subst.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>2651283fc7ee63f52dcd6b4716fe54c81213acd05c3b493f379ec93ee8e63c91</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/syntax.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>34f3ff4bc242778a68cccc898a039a4c7bde43ca404d4ca60313e49c197c6baa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/unwind_prot.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4faa2407485c004ffd6b28ad52c5419157f32240e6322a4ec2cbb1451f56c35d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/variables.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>5e21dbe466626ab5593f8782e9b60779e1409be45a6b22d3e632703b13f0adc0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/version.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>1440c7cb51ae1690d338b5a60590de049c3dc7c36b65adbb253175d32c062f9b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/xmalloc.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>f8d28a3e3dc0474e64d09e1acf2381fad69773f8aee908aed568da5f8bc7f265</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/bash/y.tab.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>c77538b86854adceffb5392057916307b901f9550041f4daa79c5a8110650a60</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/Makefile.inc</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4dace4debd5a35bd0127e17fd3040368809082d7196a7929d24720dc907e7ffc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/basename</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>13e6cd62a0c9a8bcd2745b6f9d266da25ad9d1d5b9ffef3c730b9850214e0ee9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/dirname</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b8a41dcae21fbd0d87ca00289abac5967ea102ffa40622edeabede0a3c890d07</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/fdflags</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>32b00683254c29d87670bc41f83ba91029267fa0f73927d2feeb2f15f57a30c5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/finfo</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>94b45cd48babaa53cd86b293adc90e105b276e791c6a832b90d6efe9f658736b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/head</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>3dbca1cb41b91148b02670264a97752e889a3842b6595d57e8e838887e50cdcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/id</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>0f96ef8d3dea3e9a2dbf1ed8f0554ce61e5b2a822f7d30dcac961ed145c14826</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/ln</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>6df4bc5e3c44c97259492af74cb3dfdaf6aa519158974a6e143d269ae4dda8eb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/loadables.h</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>6d6454465c603205106fb0c29766de51f31cdf989c93f2cbe68114fe9d990ba6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/logname</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>dafa83b5bf1b7c51d78f562a4e72ca73a87ecf16db51acbc14563e51f52146c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/mkdir</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4427e41efdc7bc366ea87e858abec2838c90300cd63020043f66dd1f2a26c75d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/mypid</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>74fde7f70e8c3f820aef5fd3c0ad678e082617b85fba39d65d5912f0c6dde00a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/pathchk</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>d7db3c0f9b61c9183269306d8aa4674bab64eddc8096b2d716dc88d495955e30</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/print</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>2ba6a16936d641115c7b6d84df638e7f48b2878382ab342f95afddbc6cc490c2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/printenv</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>dd2052a687512afa28e26a35bf63ad714cd2df29b90366ea51949b2d2f9cdfc4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/push</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>36a29cc6accdf585d4d51397871149f0331a4510c0bd46f0b77c139561f9875d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/realpath</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>c750dec0d2e2b7f67f7bca0c3e9e0c81d948e614cc8a6cdd0ef20570f9ef73f0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/rmdir</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>008aed44a19b7af157569f112d52c89db8ac287a2f91a176cac9afeddb359354</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/seq</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>25ce6dc60292c907b1887705ba23209e6d5e83e2c147077db43a9dce6adf50b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/setpgid</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>52ed52be4d82931d182507265a9b6416d117d61cc5d28d67d913cdebad1fb839</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/sleep</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>b903598a459ba4e07ed58402ddcee2957a609decd74d5979fa798e8649246ef8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/strftime</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>8821c8dc079d4be234064a213e4eec88326ec56c7dd327a767b10fba89a47820</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/sync</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>4a463966c2cd36c298661f516c97ff1a4e165f5ee20c2f46de1d7d5c8681c3f1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/tee</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>bb7bbc1e50cd39446a31a0bad88ec4ac0b7b8d9e6e852d6c22431410f180b8af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/truefalse</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>14bd19da157d0fbdc44fe697d9f1fc2e120db9a3feaa2a51c0d251b56e287a3e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/tty</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>9da20d192da5687019d3e323e80ae8ebcd5dd351c32d55f190f5f4495d0ef29f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/uname</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>7cb6077970f8f06dcb10aed6f120f43df7993ab8aa0ec3b855297bb0b7ff8173</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/unlink</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>609aa7fabb7bdc37ae324de3df03a847d02299d64c5dd73573aaa8a143761f69</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/bash/whoami</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>ad9045c78f89c71e5b30143a201f6ae7b04e7586cb4fde154b7a81e9b9fa8531</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/pkgconfig/bash.pc</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>sha256</key>
			<string>442a3308716ee190f6e361627269495f336636a6258b7a2519e72212e7abcf9b</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sh</string>
			<key>mtime</key>
			<integer>1547888941</integer>
			<key>target</key>
			<string>/usr/bin/bash</string>
		</dict>
	</array>
</dict>
</plist>
