<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.csh</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>9ba2af9853121df6dd5edff9254a2946e39eab8dc6513348fea28f739ee96648</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/profile.d/gawk.sh</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>70621a3b586d3d523b020e76977633b444a70013ba50e1ea901a3a07a676f15f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>196e2b994d8ef1f39bcf2a27af66bbafb24992ca2737393f7d39fb4260ee51be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gawk-4.2.1</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>196e2b994d8ef1f39bcf2a27af66bbafb24992ca2737393f7d39fb4260ee51be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gawkapi.h</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>d295edd82c519035996e4826b64a3f203d12a185b04c5b0d89dede22603bcbb9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/filefuncs.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>67b4d7f156ddf789afb1464b967ff48a2005c2937214825616abf328288b1748</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fnmatch.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>c0d0f5ae992f770be7a646046177d066db843bf6815fb85925a1415825544219</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/fork.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>3f24683dbb4d399d3c30b09396bbd877d03c85a33667aa4c685c30214bfc3e06</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/inplace.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>a121ccecbdb04a38073d0331664b0b38bb1dcadc21fbf9b208066af9ad3406f0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/intdiv.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>0e8b03e2c057cffd9d5b39eab74ee0fcaad72c535f4d5c1d6a847e5883f211b2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/ordchr.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>ce9a2b1847c23f9d3d67f53b93727ed369f60a7452c9bd6b7660675b460405a2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readdir.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>0be0b1b745c3b17a607bed56543e5776f8cd8bccb2cf829718fb00b4332e9078</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/readfile.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>9c4d0917e8aa723e0f56a70afa5a1429143ea12beb2c9110a23d2f64d6f3e4da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revoutput.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>bc0d2fdd29e1838afb2092054a74f1d3e22ab1223d35893ab3142f0afe0fbcbc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/revtwoway.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>5ef89297aeee7b7620c7b4e9ad99d0736e2277ef65559f0b18480c54bffe6c46</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/rwarray.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>930c454d6ac82857204a07f428f523da9a73d9b47f788f98aaa636ac22bba911</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gawk/time.so</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>5921dc25f49de76cee950d05231475b84b4eadafc403ac668add58cdd4813a99</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/grcat</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>5e9e2d0c5395e262facbaa543a63e0e1c597394d83c63cfcd039f69ea54451f9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/awk/pwcat</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>sha256</key>
			<string>9038b4f7a555eba8d754b287a03cb42fc446f845efd265b57a3e12455bf9da91</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/awk</string>
			<key>mtime</key>
			<integer>1537581484</integer>
			<key>target</key>
			<string>/usr/bin/gawk</string>
		</dict>
	</array>
</dict>
</plist>
