<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/install-info</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>3648175da88e9ff660d992647a43c1b25c3bfbe743823b59365ed1f6e7a706fd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/makeinfo</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>33af10cef6063f2aa5f3fa7651f2814cbdf79dc60537ce8e5b168f4459545792</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/pdftexi2dvi</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>a5c231f52706910fd6454d56854227016bf4230993a0501d4405d79aa8c4d70b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/texi2dvi</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>82082340c73ef414ac63e831cf7f01d3cee23b3f3705d6136b16cd5b8e94c25c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/texi2pdf</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>b7e2e7394c157eebd13ed33dd7f6f00a67654923dff5317dd640d4f7c5bf30b6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/texindex</string>
			<key>mtime</key>
			<integer>1538239570</integer>
			<key>sha256</key>
			<string>a4e17638ef6a8caf8bc5adc21b124cdef7fbcdea8f78d03e65fcb3100814dee6</string>
		</dict>
	</array>
</dict>
</plist>
