<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/cmp</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>e05ad706d7865f6446a850df3ee4cfb4fd4519f853d74c57ca2c4fe78864cadd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/diff</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>d16985e8937d9db4768dfc0b7faf036263bfccafb1d9a11b03873b42bb047b7b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/diff3</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>ba61a1b65d771ce43397a8d604b190dd839f10c5807bcf8bffe22fa75f0466d7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/sdiff</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>2cb3ec0a3d6849010b03400a8c8f59be4d41edf8196dd308bdc0bd20002de2d9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/diffutils.info.gz</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>a449608fb7d911c25e4cf01e0a161d7858d58203e09878e639d4b6198586a8ef</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>fc71562a57a9c57dbda720fb975a45cf1432bd503f7f50360e02c47c61400b4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>9c57700d0cb45429e91eeca7179c0c59df7eefb5f16ce4c79060d85e5a904fde</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>30e788192afcfbd1e26b18832e2c49dbd2020e7baa5c343a4b45f10b7a1f6d9d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>e2f4fea591abb230229998cb42af8aae61a57e9f77a4b2a82f3608ca2ce2cc35</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>594c0b9eff0b51c7af12fc221726c4563b1e8dbf4f91d846d548af254802d978</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>64e80c96b0fa7d6832c4652a479b71ddbca888558729f9a29778203e8c1a3957</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>1ef49a31ba3af0c9a2045393193c6d66977d508f0d65532f7463331a231498e2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>d98b8ad8aab1a88d2c0179103b9257d5f5477df60a44ce31e75a8916376305ec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>4d520dc5705a207641174925f36f01d815ccb01718ad553c2cf6f470b877fcea</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>c923859a41ab03ef665331a5a5d3cbc00cc02d58e59a5a712e36806ba6c580b9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>47a3bc36508908a0db8eb58c9d0d1c0fbf345b6dfb451fa8a9bfd5506074b932</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>e859992b1c8657ea8719a98aca62095ce3d91b09f140132bb92670237eddc752</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>c3b2b40072f4dc3454bfaa486dd9c5a42e48a4590830f5f7d6ed0a378bbf6e60</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>b2b39094cb44020bd6ed5972dc1f799eaf3adfbc8419eee1f35f9dac8a39b945</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>318821d19fe99cd12065de4d3b835bec81be2d86aab441d6f4b21e43793394c9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>adf3089672f4dc255e2a0d8276880b4e7382b03fc55d7195c8decf170576f44c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>86eb5ac8c3d5a6f490f284419264fd1a170ad3b4bc9fe202ab3f13960f475446</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>eb81adbf0c9f96c2795f633b45f0042e242a6ce969492a248e7dab87767b43c0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lv/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>0dbc0707522dafb56e92593a0d17ba59c14b0ab35fd6ff42a38f6d985c6e05f9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>81cf3a191774b52ff2bceb5dd5c1906734dabe4623bed7d67f7f09bc1ef0914a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>85ad80f54761d2b694974ccf49c82b8b5fd6dbc44a5b91a7e8fa56c25d93b031</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>dde127dd16e6d4f8d4351dd874da05f5629ddb58e54d61d01fe932ef2e41bf1c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>b378ee1681596d33e2e74516db21e641dbc94cec3e315a2ed4586b2d8406bd43</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>6d69d2244f1e8c6032dc44f74c1dbca4c6901f05db5c63beb9bc93173bba5501</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>c32756bd4eaafb0d69dd0a1f75636c0f1675d0fc593934eca9dc10927e78c731</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>5c8fef64cc6e16acff6139e0818bc5e6d03f7d252a27a5f63b0e760cb4c9b256</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>c51b66407b38b7d5ffceef7c75abe5620bead35794df79fecdb4a4dd19b98a73</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>3095cca18bae23cefc43983e46546813501935fb4fc69a6111c873c88a1457d8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>efa000f4e8d90750f5efdea862042188c886ef81a1f1fe02bb0ae1a29aae435e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>b69d57c87d12802a80cdb33f3999119b8bb20b0e3858f9779d11cb57558c29b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>355593c3e1e44324df8b303c1a06d480ddda14bd29c4e08824fc1558388c2acd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>ac239c903db674214c07c4984439caeec7e95b41cb11f713606eca18c1f25eee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>614cb9fe729730043bfebcd0d128a470db254af77b5abd091b8b61cfe014035a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/diffutils.mo</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>fa7328cdcf41d2c1f430c871f9f336e2753cb0eae88c16151276292615f26aaa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/cmp.1</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>5b2bf017fd639059c80ced9787182abdfd16baa56ef6f4437516e47d950c4777</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/diff.1</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>f27fc4b5d9928e66429a596f47c03bb8dbbd85fd467af5dab231309224ab9bf9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/diff3.1</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>6aaf709f441603e792f9fbcdf4cd520883cd5f7e876e6b10b1fc8cb73d6ff810</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sdiff.1</string>
			<key>mtime</key>
			<integer>1546372737</integer>
			<key>sha256</key>
			<string>c81e7b2ed1b1d966626ac9276b8d2b1ac04c76c869d99c94a2f3d12dd08be42a</string>
		</dict>
	</array>
</dict>
</plist>
