<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/file</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/file</string>
			<key>mtime</key>
			<integer>1550727601</integer>
			<key>sha256</key>
			<string>bab55bfde91d672708b415c7b0b4e7e6186ed2595e5a837c68a82b6d2af6bc57</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/file/COPYING</string>
			<key>mtime</key>
			<integer>1550727601</integer>
			<key>sha256</key>
			<string>0bfa856a9930bddadbef95d1be1cf4e163c0be618e76ea3275caaf255283e274</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/file.1</string>
			<key>mtime</key>
			<integer>1550727601</integer>
			<key>sha256</key>
			<string>bb5c51b8dd60e98f520256a3d99890d7bc72ddf713ef6456956b35e92be9f16e</string>
		</dict>
	</array>
</dict>
</plist>
