<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnat</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>6d033d04ad8115a2bdfcecd42d2a212cdc400d52b8bedaa83da8e90fb524428c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatbind</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>da0b7c66d492bd1a7e7be2daf26f4b2a8be375776d74f6b4e5ba4fbf6ef7bdae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatchop</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>eba4a576de11d5e8b8bd2234e11f0ac4af2256b62eabbfbcd026b00489cc2759</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatclean</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>a08fd94adf93ce0b147a634b7f0e29905caf2af37af7fc222e2897cc6dd994d2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatfind</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>36a1958d0bee2687eb43a91aaa3fa1773fb8437f7a2729705b8028d7e36b4a86</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatkr</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>297193e0447b1a32a96d493f660eceb697c4a30a751ad211c29e1cba354e3420</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatlink</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>a126cf35410ab62706cea1485eea1a89f4443ff71c41c7761a2ed49f03393420</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatls</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>27b0a609401eea6074800b5d4e2f32d1bb2b2005fc6d5435634aea1578b0ec6d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatmake</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>b347260abc1a947866ba613034db18324a21b8bece332f6bf85607115d92b516</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatname</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>97fce9c091e916b30d2e7de6cc488a31b0658c8ee278143f821263f558e25361</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatprep</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>64dda6a8b84187c7cafb63c31d86de3fbaf9bc1233ea8e9cdee4326dd2817357</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gnatxref</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>64bc72e0010e0bf561c218d72b3d7ca27e421bf3accf7eb205a0cff8d345c16b</string>
		</dict>
	</array>
</dict>
</plist>
