<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextlib-0.19.8.1.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>sha256</key>
			<string>facafb32c0183b8affacd360032ff8368502f7fb98acd071bc32a0304a5cb4b4</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextpo.so.0.5.4</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>sha256</key>
			<string>adc9caa4dc44af4310e803ced647974b76934b5067826b3b7a93d88ad5a2c811</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextsrc-0.19.8.1.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>sha256</key>
			<string>abfee82226e374fbcda42b39664e4dc54c1dd9cf4260008b1bb4fb29b689e39f</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/preloadable_libintl.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>sha256</key>
			<string>e0ff3563de27c8453bf05b7cb9088e9433efef91af941ad7b99e1bee53d45445</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextlib.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>target</key>
			<string>/usr/lib/libgettextlib-0.19.8.1.so</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextpo.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>target</key>
			<string>/usr/lib/libgettextpo.so.0.5.4</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextpo.so.0</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>target</key>
			<string>/usr/lib/libgettextpo.so.0.5.4</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libgettextsrc.so</string>
			<key>mtime</key>
			<integer>1526297189</integer>
			<key>target</key>
			<string>/usr/lib/libgettextsrc-0.19.8.1.so</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
