<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/gunzip</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>dbc33fb517aa148184d1fe8325a763325ddd89264ee0e84a6cd32f2579394276</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gzexe</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>c25f19a2338f1a419fc30b5a35fea8a85578c6e6c6e22dbd8c47fb5967a84be8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/gzip</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>b805e0f6d363a3e2812aab7bd00acaa7bdc13cd03acb32ca28046b4fb6d37eaf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/uncompress</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>dbc33fb517aa148184d1fe8325a763325ddd89264ee0e84a6cd32f2579394276</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zcat</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>4b74c4c68bf4c39c39dccc7544b891ffa8a560160882c081d771ae945168ce00</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zcmp</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>c1500a5bf04e61ff7ea089fe4f33ede7bccbc33c8500156db0f0b0a03861b57b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zdiff</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>2cbef8c2e7b6d1ba8554af87721d90d3c907971142dc5fd9b68f7f2b2fbe893c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zegrep</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>67ee7fadec7ea53b4c1f8cfc3c81427b29c0b1381e80b55642617620c84d0bcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zfgrep</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>87ab5f4c7cb344e409d614d1a69cc156b3b1053d6ae0b59d8e2c2131f3e63e5a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zforce</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>545a6829f7ee0a26605fcfb9a65042ad7265d21beabd8c696c0885ca81cffba7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zgrep</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>9ee9124c8c1bce47cb98d2e820a7cc571a6d5ef6d9d21427dc260194039700a9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zless</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>b0cfe211f851049a78f5812cf5b1d7cb4f3fbb101c02c1865c940d5797f4b73b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/zmore</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>9939ea48051e510ede264ee70cf308a387bb7acbd479793857d757e9ec9071c9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/znew</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>d4fb107b25fe3f4d637df1b56445960332ccc56fe027ec6a3f849b35d663c3dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/gzip.info.gz</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>08d700ff3cbcc02e03b12c04a3c3ac0dfe72e532c38fadc2c5d0cb94db65af09</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gunzip.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>022105f453b1822f8a8c36283ae127dd764cbd57ef0e990ab419f7ac53e8619a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gzexe.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>63b5a112221d2738ee4d88716ddc75e92cc6a422a39f17cba020dc469ff78758</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/gzip.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>4b90e3672a1b3b7b3c87155a07d1d12e4f9d30023fb2a04bd8f2d0b41080cfb5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zcat.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>022105f453b1822f8a8c36283ae127dd764cbd57ef0e990ab419f7ac53e8619a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zcmp.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>d5499ae1f25924d87bada83daa881e7f26564fec01b5a8953d31b7c2ac65782e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zdiff.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>61bac77d94c867d71795dc5781c4e5a66b4b52d7452f05424d3b218121e526a1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zforce.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>69dcd876eeecb9e460dba8e32d302e9521b40280ac9569e84fa5f290649fb01e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zgrep.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>2b6e1f0199b329013f649acdcd4898a1c32911bd1ee86a5fd2ad6829a6922964</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zless.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>c17e1ad679f0a1ed6c7300353dd144f72ea88ca020727e58160c2660e96fc1c7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/zmore.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>716873a8d482fa20ba8cea07c85d794001c8ebda2733df7e3d8fb392c984c0ab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/znew.1</string>
			<key>mtime</key>
			<integer>1546188720</integer>
			<key>sha256</key>
			<string>81a60ea985a5b628cf88593e26b87db76bd25cf6832620854cee56bcf8f86998</string>
		</dict>
	</array>
</dict>
</plist>
