<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtbegin.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>37f69560da6f7f2dc382df227df20f9ac68412707399c93d049e39a50a7004b6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtbeginS.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>7e29affd6dc56896fa873dc06a1ea8b5cd9bb8fdff1cae3a8ae081682580858b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtbeginT.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>087ab79d3833b83449adad54aa8e73529bdd696e6155fcf6df06a686ef16a47b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtend.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>7fd70db30906e918df9bd32d304dd00f6137a89de74af5fc7d00d615f38ffd5d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtendS.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>7fd70db30906e918df9bd32d304dd00f6137a89de74af5fc7d00d615f38ffd5d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtfastmath.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>ba3f442cf6b88d9501c3f77227ffd6422af0855d8644dad70604310d0dda4640</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtprec32.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>26e05e1293ad4c17bc718594d6015b0ac3d560adb7cb78780dddead2c38fe8d1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtprec64.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>d3d3cc102cf8d8803e8896cd1946ae89ec11f537b71253b16246ae3b92907808</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/crtprec80.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>110136ed079fe495679e45c54027098ecfc300c9bda6afb38621206d31f32824</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/libgcc.a</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>31931e5e708e0c707423c60e9f7aebca8c7bb39d125bdf2aa658cb56859534b8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/libgcc_eh.a</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>437e1079120fcaaa1b68ceb753fd0900e4ad07640d68db5e6da3c333dca7fd77</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/libgcov.a</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>282dc553ea27494f60932228ae5e60f275bca7dcfb3ef2adb2ad322262904dc9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/vtv_end.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>f63794736ddf69700d59d0efdf89c65dda1a38db482fb845c1b84a5f5a284762</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/vtv_end_preinit.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>427714a1e5aebe1b8908bcad40bfd1f414dd712fc9977499eff414efb1f1a7f5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/vtv_start.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>faec95404660af8af1882ff943232b4c9ad9232678d25ac6664621f692e0ae62</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/vtv_start_preinit.o</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>e4d266f49c7087b2c23c90eeb39ef4fa236f282581c5a698195808e04addfe57</string>
		</dict>
	</array>
</dict>
</plist>
