<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include/ssp</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include/ssp/ssp.h</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>7a44348d76fb74dd0f58ae925416e7a3d7b08b06ed202567381c5fd1b5be5ed8</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include/ssp/stdio.h</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>e2a411dce80ac4b9104bc5981b8f36b1b938f5dbf9674fb53fbfc8a8bbf55c82</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include/ssp/string.h</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>776c6463b53a6f067eebc4a586f5956cb522d6a65824ae01e4610008cacb1837</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/gcc/x86_64-unknown-linux-gnu/8.2/include/ssp/unistd.h</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>1e8bfc152800b7b11b0e72fadd953817d64ba5d48f8fda0deb63056abc19bcc0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libssp.a</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>fe6c673ce0bb8bf573aa5ad7c828f53797fdf6e920fe1887018fc15809fef429</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libssp_nonshared.a</string>
			<key>mtime</key>
			<integer>1548151019</integer>
			<key>sha256</key>
			<string>0f7c915e4153b7004500766b55f57aa6e33c841f9534d4ed958e632fbecf1ee0</string>
		</dict>
	</array>
</dict>
</plist>
