<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conf_files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ssl/openssl.cnf</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>025f5e31cd7b2248a0a661d8d346452c31d98e280f3420c3f6017c74c829ae73</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssl/x509v3.cnf</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>6e72e6f9366198e19491ccc785a0cdfb5a05510609c03fcf388b02aac43fec0b</string>
		</dict>
	</array>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/etc/ssl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libressl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ocspcheck</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>6298d7a2ba930fed8e8c1e6d41b2c630df7478207d2e23e8754b6a52d0926f03</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/openssl</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>6d206fd596d97f4367f63598295d25d8d1921ba7db7f53ef9e3a84de570a5d28</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/libressl/COPYING</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>5c63613f008f16a9c0025c096bbd736cecf720494d121b5c5203e0ec6e5955b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/openssl.1</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>4ae296792ee1655c9b61128c308f7b4d2d909c2bbca9469894c3f947ee8e67d5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/openssl.cnf.5</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>c04df34bc27048ce7c0a1d6566c5cfe521d9dcc5005050576265abc54fd4146d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/x509v3.cnf.5</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>sha256</key>
			<string>bf3e03a2fb1669b59ff76305da1efff9f2e81d6514bcf87f6b16c19fe416d0ff</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/etc/ssl/cert.pem</string>
			<key>mtime</key>
			<integer>1545080247</integer>
			<key>target</key>
			<string>/etc/ssl/certs.pem</string>
		</dict>
	</array>
</dict>
</plist>
