<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/make</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>75f8744cc4b550bb7132b18fcb936203142e14571650d68612ca5773b68350e5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/include/gnumake.h</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>da9f000c7bf0354d118bccfb7ed1e864341d3a4d6fd319ecb4fd9949f5111ea5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info-1.gz</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>160e5a02cc59edd7bf9ad2f51d49b79b8b9aa5057fff9bc95552669f60cd686a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info-2.gz</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>c2fe56c25ee4fde5cccb47badc2011424706e62283cbd6c3435967a86012e098</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/make.info.gz</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>e20802f5bcdeaee408b812c1d0fe4359d98f5d20af3b2529de63f912207782bd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/be/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>4b75d2e3b9ec4026160f3ee1ea6137717c9558d0f07bd5ec11fb2b6a0bfa051f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>40069b2822319f67b561929ec098d561ab890d1477f3da64f5dbb1495e8dc680</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>35a3b872e92f7d841374d79f448be5a66a74d38dc8cf2706705e8d3b3b9fb099</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>20e77f621f9d3f649edbfaa11e35d5db488572f5ff02f0b1c2c065da2bea90aa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>366d7c93bbbb388c56d405a332b995b57470599d7832ccc94f67afc6985bba1e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>6bd11d06e2464d943c9a09c01719bd15a0ffb61920f6693bb90639f0b74071e6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>a1cd6af1df303d6212ee0e8df97d6227940c069acbaf1fedd576c15e05bcd1ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>d93287d68e5c1ef80fec5a763cd3393a08886cdd683adc868422d5abdf2c8b33</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>97b917f762ca3285b3eda23fbfa020e610f1987fb5fe955fe892fed946978e7e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>970ea29f8d706498541a9144e958fc7b499ce72f14335fdb86e0cc50aa786208</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>4bf97be8148c236befe7a90c85112f2196c66d1cd892b6b414b6c0e45538b6e5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>8480fb571a99c450f0ebd33da911172ebb4e283e8e6c3996b4cc8c05b2da00fa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>f59c077aba293acb08e8dba110c276289a6007baa8651e37690e5b93266cd8b1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>ac80a2d43bb0b7637abe1b24a1e22ef8462fa137d965b7e98d0cfc1d31df4342</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>f996497a793604a529c7ce27e8256f9d434a3beb2d94b09c6db9150149a522f9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/lt/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>02e61f3533761792d54fc1a93e061ffe30ee2e7d8104631f758047e347b1ae5d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>ad2727acac50a325e72c1907189b27063578352f7252310134c8953fe51af5e0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>adf361a768e9a85f243022795456ab5ef02f2fbe5af9f950308a6800491ff314</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>fbec83d427c9cedda12b38feb6d7149706306fadcc83ed4e4206a53b20cdd0dd</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>4eb70d894b0157b576dca36f1db44602d4ec68766e672fffe654ab4d440298b0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>8b007301bfa00dc62c535908fae0bde8c37cdf5906764bc1e32228c2c7247958</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>aabfccb26f023e0d3d3f13bfc52f554784a4859d410da6b08d6530616c0d38d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>4d08d440226dcb26b16b35ad14da71b9e5a18697e23ebe89568c9c2b2c8b7d85</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>608ae27719ca645b91b494962f07426d977fbdcc2403bdfe69817c1f553d5667</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/make.mo</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>8720153e276949fbeff9515ee5ac7ffaa4cc857335e6be1fc056beeef1da0e68</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/make.1</string>
			<key>mtime</key>
			<integer>1543356866</integer>
			<key>sha256</key>
			<string>7762b3f769ddb911d09f856971150aab18b322d1c76015651bd666d64786c0cf</string>
		</dict>
	</array>
</dict>
</plist>
