<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
			<key>type</key>
			<string>dirs</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6.1</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>f344b6fc2d512828b4bea0c23ac42939afd038de832bb507789a9d476111ec0d</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6.1</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>14010612a2375f07e8e58df4a631f4edd08a2d6b0b7af9bd9eba1ed7954e07dd</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncurses.so.6.1</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>904ff915e8f79a60a86b35d58f84b511125c79a9d0f8566481f2c8af4ff7c9c7</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6.1</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>4bfd5a89334f54455eb2bda6807316d83538b9ff8bd7c168c5312d4792790bfe</string>
			<key>type</key>
			<string>files</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6.1</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>sha256</key>
			<string>12644a5639a329e4b9f3eb81e13ff16a6e7ae8c001f3197490cf381f0881be4c</string>
			<key>type</key>
			<string>files</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.5</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libformw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libformw.so.6</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libformw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.5</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libmenuw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libmenuw.so.6</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libmenuw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.5</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libncursesw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libncursesw.so.6</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libncursesw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.5</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libpanelw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libpanelw.so.6</string>
			<key>mtime</key>
			<integer>1532093697</integer>
			<key>target</key>
			<string>/usr/lib/libpanelw.so.6.1</string>
			<key>type</key>
			<string>links</string>
		</dict>
	</array>
</dict>
</plist>
