<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/sed</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>687cfaf65e715ea9df4c852239d1e2fa6719c8a1209a1d19dfde3cc09cec33ee</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/sed.info.gz</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>9e25ccc1927234f7a454e09d3fa1b4f1dce6f6a0fb2bfc47ccb1884c4f2195c6</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/af/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>2a7c2e8925630d1eaaad0cfd8b91ab5668c6ff14f1af4d2be23c9d61fe68bc96</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ast/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>bfb96e98873e54ea9a7b9306f1807cc521a82b032babf6ef73dea8032ed23b93</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>68cc77710b8f5c22ac2cf5473ebe5c04370a847d7516bab3d0580b0bbfa97986</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>a7fda2a3533fb1b5dc7e65415e05ea4191b96672c2cf6d12e88db22465902579</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>9d20023c846dda3588ae09f0b5b6e0206d2891a7892c24f00e43c0e737cb3bbc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>3536dc6fa684a276fc093399b0f25ed41541f54617b135643368a41f03d7337b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>6e1fa678f82470960f723ddd4e6b365ebed07fcf357740d3f757687a8370b183</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>a20575eeee874840396e8d34814b7fdd7bc030068bdd0fa90a5bc3897806d55c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>875035ab93db7cd629bc1aa3301901cb9893c1bc4548791c474d2ccaa1ac4043</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>ced8d1e57d674f2711277212fd10ef2733b643f8def314d2006e4972007d7253</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>9862be952eeda6ae135c23f242cbc6fbf8985039c049d4a7f68520db3f2d24b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>176d5dda214c1606089900170827964efecbabe11f18cfeb768d822d3e8fe8b7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>d2d8567fcaff614cb1cb31d9d6358cf45a8e322b0ed8edfa199ce773e38739d2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>086eecef1551d5fe2e7398c06e2b56c3bad098f21c9401c6610f54d049b6784f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>749ca282d8c5fbd3f1b1f8fdef29eccd5e96b5eb0165122a3d7d4f94c06bd845</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>791fc426de2321d075443f2f5da5487dcad46330c5dd08465cc16e98b62afd6f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/he/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>1a547884f27259c6896dd6f07ce4078b3f949f88f433c63aa1a493375e8d153f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>4fdde0a1697079385c6411878a7ae36e7f871a9b39d5602d309e50859de09b6f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>433d15670dbedadb1037dd3ebd4143175f0a7389147c81bbdedf3e464f5481ff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>bde4c2104347b7c223067c6336e980afa3c23e30fa09994b90d1492fb11e2aa1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>d2f46fd4d9637264faaf7320c067e547f9d44fc5787c13dd140c2b1fe7205105</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>f69a5b28808ae80deb2f4dcb88c2411d186c4a5bed8a54b5c0a0e0c907d35bfa</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>7f7bd74bccdc910a637b0390e87a1d673887f47fccca0b6fb505beacf2b35d14</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>bd68cb504c912a04050a460e958fdc8ed7594bef262ab2b5da5f5263d61002b5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>1c63164b4fada7e56feebdf7035e2070cac849829e81d6fea99ca425892df420</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>9bda82833e8f7d28a04ecf6073d58756ec334ae44772295b79f792cbf061d2ed</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>c916557bde6537ca5be79f89eaab32a4f69454ea175a1052d82a5cb79050167e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>b945868b61baec71006997c24be74d728039b8d0d03c10d30e0b1a789fc0bbce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>548b608c34b5bca273bcd946cafdcd54a53bee9164f99df279b75f3663b98008</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>0eacf0051db0d6d3180ad230ac4ff63b46450de4e4e0d7e0b620442606845228</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>72a911b38ea1216122762029e822b5e9dd9e682c6b55443587ce72fc36b2e60b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>4d542ab8aa1147c1a1aef414d71744eb0b81cdf659527399ef847a2b497077c3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>cb144d369af4f221161f7dd9efb48bbbaf81eac1c669b4ee8d71cf016229d4ce</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>13c671e01487f838d561af4956907663e7db65a6f6aa5bcfdab56b594b96d5e9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>de669a7ff27d0a6dfdcfdf5cddc0534ef479a0a62346bd7e260464e580697781</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>8ab5facfbfe00cf0877e2a87c877ea70ebbc397418d337dc5e4064386605ced4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>4575af93f929e24ae5b515db36e9a717c542798d3f6197b2e74171c544cc9b66</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>b82bc24684c5ad3fe830d42628bf2cece20de2aa61df60e42e2e40d9558babac</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/sed.mo</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>2405e54cbab489d63d4b19b1c8eddbddcab57fa4a3c0b082e08ee66af54631da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/sed.1</string>
			<key>mtime</key>
			<integer>1545688455</integer>
			<key>sha256</key>
			<string>f5ce407d77bc5ebf1c95018ccab73ed506794983421910b216a8d6e8abb814e2</string>
		</dict>
	</array>
</dict>
</plist>
