<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/tar</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>205a63304b505d85704ccee7492cc29ffe39da2552301020050c59da2167fbb0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/rmt</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>b6413b5ae718c6ede0277904b53d0df20a9ba0152a4f65333c8ed8d98c27c591</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info-1.gz</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>9a0184619c0fa3a6499cf098ff401bcadb63bf35f4ca8fdad5402fb9dd3f471c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info-2.gz</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>72e44a612183168cf1efa009934b915f2c2af4b9b6173aa52e595c4d534621db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/tar.info.gz</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>d094fa2146bb4fc1379075774f8233f7ef7b4f58a12c7024b42a537f00a1672f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/bg/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>3f6483d74db15c87707bdf6ffbbdf2ce0c9eaceedfd9da9f8ddd04403900bb0b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ca/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>75c0df24d189434fb946aec59e49767eb9488175abd13ac5f99446a3a29c7fe7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/cs/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>d216c1efc251d484c2dc525f1240b66014d4af91f6b7a40a0d11ee2467941551</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/da/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>ffa6dd828ca8ee3a598cd9bbeb0deee22411a899018d39b9779ff7c9d1d7448a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/de/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>7c7e5608caa8f4422e8a665fbbce4d5e0ccebcef0692be78fa8d7de7dc875182</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/el/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>a34bd7ccaf1a807106507fd6cf9b27a9361f22cd20a5e5096252d956fde8530a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eo/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>99803c0ad3b4907c166b4f684a2a1677a925adb8cf078eb894236d592e6031a0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/es/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>9fd47b37bca745d54d1928b5ff40cd5888d53ea7c334465384ae0aa35b85cc1c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/et/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>4d20a210b1ec0d42557941688786f7ac66feef1b58e7137206d81719188af076</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/eu/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>734640651d7ea0e213526ac63e5bf6659c7310beb9bcabbadbeb1b830eb95436</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fi/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>f9365ca42d756c3c3e429bc9e2b07fa0b0b8d78b4747135a5d668fd6377eeb1d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/fr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>7ea3f3746bb9c771e4d9cc0b15378229a0fe760f9b26a23315006968e3cf1b19</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ga/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>2bf66a51eb7f225b01cd79d56c68ac4ba705700fdd74242270cd56cc17244eff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/gl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>fe06b304911ad1af9305252ba045574f9da61edd020587a548a4de9c07ecb608</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>158a9fd9be51f6e3f65f41ed0a42c1dade1fe1ed07e61132bb091a504bde5ee4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/hu/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>617ebc6477db89a51fa3d9ba454c2e0ef4b60fffea01722afa281bab32967cc1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/id/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>e8ed6858ce4ee4a01d1019e5b898a6ddbce47852d7bb24a0da35e30a8b0a3e5f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/it/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>06076c8e8c765e4d2df4c7cae27bac922c671e0f2fbfaaede3774aa3cb56937e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ja/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>5d0631aade3e04d6e07b89a146cc970035a2211bb8c5c445f843349ead7ca35e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ko/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>924f1f365c9c7041e798d43265f5aa938f6149e7dced18fdd3230ee1f060e93a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ky/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>aa94d936a5b30c6a5b78325bd3718bc344ede1f36b01c821e477b56c0907bf98</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ms/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>d98ce9dcba949c80693f1ff672571c52676a63c839dbb5a1eacc2d4287334e26</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nb/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>8a29905f95eb1538f0de13f0c26050e045832bbfc68f7a09c7571f89987b9f48</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/nl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>b34f4ba5c5551e1cd485c002ddab1edd75bdaa8c883360de95207f2e72534cb2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>296537645e69112bdb5667388a7877cbcc88c64a625cb37e46453a0f860d9c4b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>38d4b72ae0a4a389711b31f215e3d22f68d4288e9898eba935c688c381421854</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/pt_BR/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>bb6ccc35961a77c1b4fe2a2eaa9351553bbcb281c5ea6a816a97ba9a874973b2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ro/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>8e868c3abe5b373c82bfa5f85bbc0dd9324740b376b202d648e8e4c4f1ba9b49</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/ru/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>cf7c057e2df7f4626a3f72a6b786cf3ebf8761e13d10fee8261bae3b89dff021</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sk/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>8965bf7c20c406adf6bbc0673254048365e04f04c864df9269de2e8ebeaa0445</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sl/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>5b13a7662846a2f676d39e85b027a01561faaa35106f91b5bf472f4296c8ecde</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>628eac5be66cc91dd5c797abd58b71f8a636f8fd989a9e0bbbb783702ac27c35</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/sv/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>b09775f3d5ba062abe617d3f577d31dabd934f0c83aa6e72c8b770a93444e965</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/tr/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>a33b89d1526bb61b50174241b791c55b53f45d98d30dd66b8b9eda960a4c605a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/uk/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>713f99009d8f7187ed1ebbf87852861d9031787a562e1f8fea8e03268ff27a3f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/vi/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>b20745a811dd93782a6bc971b8e70dc44a00a684a42b57e682d8c38fe3a7b9b7</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_CN/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>ec9db622e17f179a85714e625e0f39f327c87dc8a2ab504d337e4d0fe18e032b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/locale/zh_TW/LC_MESSAGES/tar.mo</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>db4f2015d2bc1de8b56710d67e5269fa4704134304be6dcc4fbb3f888cdf1c6c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/tar.1</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>255d2a735e8c89ac7656c120c98c502ea510057ffc85d596edf876a7e46210eb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man8/rmt.8</string>
			<key>mtime</key>
			<integer>1546631674</integer>
			<key>sha256</key>
			<string>563be23214a723e147134e076d6d786334fcc0d9b999448e575eb19f6abd680e</string>
		</dict>
	</array>
</dict>
</plist>
