<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/which</string>
			<key>mtime</key>
			<integer>1480272978</integer>
			<key>sha256</key>
			<string>4bd1b488e1cd3f9c8432c70fa51a311855d40b96b927e2a43d63ec7f4039d2e3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/info/which.info.gz</string>
			<key>mtime</key>
			<integer>1480272978</integer>
			<key>sha256</key>
			<string>8988a093da686883ae98dc0ad35d91e339c6f58fdc00ccf830dba107672d709b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/which.1</string>
			<key>mtime</key>
			<integer>1480272978</integer>
			<key>sha256</key>
			<string>6baa8dfbf1f3b225c7652af0804cea9fff8297d232aa4c705e8b35d0b15a21ce</string>
		</dict>
	</array>
</dict>
</plist>
