<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xbps.d</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db/xbps/keys</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-alternatives</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>9dbbcf9dcb776e8637cf2b4b91d47ce1f16124e9f6c96a75bb397dc09f4cccac</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-checkvers</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>4afe58f0a4122144a9abf2963322a3d70e9b8a47a7a5ff96f169574f0294ae67</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-create</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>fb37a22f0f0f492e7919bd659b8ef60617d1b963568d90beda048a8ef7695a3a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-dgraph</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>37c69f890e9c8db972e42260683f2e24dfc58df9b3ae7688afba7ceca15da5da</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-fbulk</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>69e5c60e71a6e2aa12f4a8bb0ed19c19bb7c5ccf1ba423dd0e5dc1cfa7328fec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-install</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>fbc37d39456bdf2cef153a9be2067db47744fcead52048a0e94157bb38a4e28c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-pkgdb</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>3d0070cbd9e442ce40508e9bdf4210af24945bfa2f04edd11ea2f9a3614bf7d9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-query</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>60986b7a386c7dbdb2a3fd693392aa9dabddf0a3264bd11b9d31d0280e68586b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-reconfigure</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>74b1edf61b36db65126d125df29772eafc93ba28d8c01b6f51156428ad274368</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-remove</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>eb7bc58275c1d20bfd3ccd4051927bf2c8c28c3d0ec3ad75939bc78649a8cf6c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-rindex</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>d4cc03d8639672b0f1884aaee57cf012450b4eeb6662d4877bed4dc1c087e4d0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-uchroot</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>c7fe9a9d167f4ef53f79fd52fe44dafc2b4bbeb6dc0884d613a619ae91242878</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-uhelper</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>b92409a5d0bf39f21b1a93ebaf00b021c5db998c3410d86184f41cf8c0c08d5e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/xbps-uunshare</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>c07d6454c964dcf7972df451f2067244e79d93f0a4b17a10a84dcf9315014574</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>d1173a42a35111b1243c2ab0131d8479a5b64bc0bde7e1b296a18a778792f30b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xbps/COPYING</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>737d8d827d9ee6af6003a7aa7307b069abd502c204a6e75c36154afdc57126b0</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/xbps/COPYING.3RDPARTY</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>e5913f12b42e179573d6e08909b941fb6a8186ff7455a47b21a0bb94af7e4a89</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-alternatives.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>e0d297b121b59614a38df7ff67586749e3779e0fc95591605f68393996349bfc</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-checkvers.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>4d1d4840f589508907502d9f76acb57820417aeafd6f3a58c32075f1ecce4d1f</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-create.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>c5ddd55b95ae93730fc4ddbae4b4b0a8bb2501e52f13527c3df8884a07110140</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-dgraph.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>6ccc2a36ec20d415f21cd615294c8d32d7cdbc33ab6fb4e58cca975670ae3207</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-fbulk.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>985456098b80cfdd77ffc0c71e0797624c6bb977a54db95edcd98fecf8c04164</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-install.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>00f6c8cbd8f83343064e5b37eefc1665905a3abd5561e7f62724d78b31631b6c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-pkgdb.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>c64e4c6b845b54fd26c9129d0a71c0053d58751697cf69d08ea44019fe66e7f4</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-query.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>499ae5b00b312b55b736180ded2469ffee1ab82d8716e382cc5880079639d0f2</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-reconfigure.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>0aeae39ce7ee549dd8680b985b8ccde88a3e0ac530a2e4961382b6ada543dbff</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-remove.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>1f14a16849dc2cc030e87cd2f08c4274d7a0e73356808882c58e8af2d4dc642c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-rindex.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>d2d7f08bc5abbd92883fae5dc9e026e98c4f184c5e3d8badf0d94a75b1bd1d63</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-uchroot.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>aade206247014e649633362d8d3630064d63d88c8025121a588afb05727b5342</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/xbps-uunshare.1</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>79c272af69a98a254f6c15638ac03b9fa5e12765deb4b715f9700e7cf8a54aae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man5/xbps.d.5</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>675b2ef0032d30e9885141399697080bd65b0aa2a8eb1e2402b1cdd810144230</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xbps.d/00-repository-main.conf</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>41cdd5cef373d72f80f23634f2ae8695d3b3c4da6f33994889411eef71530253</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/xbps.d/xbps.conf</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>d36aba516749e59bb78e54524a198985c26de9849c5db28a89a8a65636304967</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_xbps</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>ae77f513829380e6331a83db4fd4bd68b908604f51f3b07e1d6137d5d5bb45b3</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/zsh/site-functions/_xbps_src</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>4b42e2fc20903331057338ec81d1f1a70ae1716b26d9cfd1db5668cfe8d165ae</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db/xbps/keys/60:ae:0c:d6:f0:95:17:80:bc:93:46:7a:89:af:a3:2d.plist</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>sha256</key>
			<string>efa17d0981ee917f885864e88be6377c434c775d819e4e722daf29ff197b9ee7</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-checkvers</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-create</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-dgraph</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-install</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-pkgdb</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-query</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-reconfigure</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-remove</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/bash-completion/completions/xbps-rindex</string>
			<key>mtime</key>
			<integer>1541275749</integer>
			<key>target</key>
			<string>/usr/share/bash-completion/completions/xbps</string>
		</dict>
	</array>
</dict>
</plist>
