<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/var/db/xbps</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/appstream-cache</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>d5419f6bb351497ef21f59fc474786a7b625db7163c9d7046e2c90d8c7c67c37</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/binfmts</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>68a120d49ce1737d6897a53baf73e58ce21be938724b14101e13ada32266a395</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/dkms</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>c71542a7f3f543a181f9e5907f5dfcea937f004899b2c74d36ecc554581bdacf</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gconf-schemas</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>d30b646956739a6dad3986a4b0832ad218ee2baf51d6d25a52e9c5f1d3c21b9e</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gdk-pixbuf-loaders</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>5c727703c77ffcd9fd1825994912d69f9baba46d4f8dd27f53c94c6937e3a22b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gio-modules</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>f22c8bd092593486877dd3e5392d2acb0b669c928c7e65db9fd804dbb23d871c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gsettings-schemas</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>1ce5fdecbcbd82d9a24ced695307f9b0e263459b7365e64e27ce1631fbab27a1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gtk-icon-cache</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>04f75fce6995c882ba588c1733592d06d091d92ea08f073fae4a7c41de1b0e80</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gtk-immodules</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>cf7dfd41bc41171c96536e226b6e49dc5c3b5497eb944e784dbcbd6c68132c65</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gtk-pixbuf-loaders</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>74542fc2f63ef85d599cfa9303ed395fc0851c419c7ef3a58bd6ee715090d2bb</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/gtk3-immodules</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>0482bc71beafe801eff217d315a4b4f7c801b32966035ee9c55dbe9f14fc059b</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/hwdb.d-dir</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>b1f022af97f0b8640e0ac6c41e65cde72cb9dbe68d58680ce84ffad5be5adb00</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/info-files</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>4bf3045251a4b26bbbc0f315df822270061cbfac7d981cd56a877b4dfe6f6171</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/kernel-hooks</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>6b128257eaf8947ec514927163c0c52b46daaff27868daf71bd3a9541c4852ab</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/mimedb</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>825674b23ae18eeea6adba2e8868049c5537c789f84bf845ae65bd48847bf703</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/mkdirs</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>98290904a6a33434898ab58b2bd018948b18b83fb53cc64e02f356a4bc523774</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/pango-modules</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>c890d2201ddd450908d4a699944680bf56f3db5997d3a99eeb45221ff6f7d49c</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/pycompile</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>8a94cf2eed5cd22ce630870bb7d0c578bbc199d9e28d1b46789a4fbb5b575227</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/register-shell</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>d089110968e5b1afaf4d9cf731914143ee68c2eea498f5b09ffe07c5df3e5ba1</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/system-accounts</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>b13d44843b069b29262130fe51253f126217275e7b499346002f883dc1505ae5</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/update-desktopdb</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>cff20965ea0ee610076ac261b0c6a9cb9cc283900a283f1f3c37eab2d93c2b4a</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/x11-fonts</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>f4ffc9864420871607c72beed53d95ffaece8147757ccecd086944e6b83babc9</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/libexec/xbps-triggers/xml-catalog</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>sha256</key>
			<string>a6203486bc9285363f46974513a87bbe91946521ef4c199b83ef77ff8f8dd11d</string>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/var/db/xbps/triggers</string>
			<key>mtime</key>
			<integer>1550773592</integer>
			<key>target</key>
			<string>/usr/libexec/xbps-triggers</string>
		</dict>
	</array>
</dict>
</plist>
