[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Calibre
Comment=E-book library management
Comment[de]=E-Book Bibliotheksverwaltung
TryExec=calibre
Exec=calibre
Icon=/usr/share/calibre/images/library.png
Terminal=false
StartupNotify=false
Categories=Application;Office;Viewer
MimeType=application/x-sony-bbeb;application/epub+zip;text/lrs;application/x-mobipocket-ebook;application/x-topaz-ebook;application/x-kindle-application;application/x-mobipocket-subscription;application/x-mobipocket-subscription-magazine;application/x-mobi8-ebook
